<!DOCTYPE html>
<html>
<head>
	<title>Add a duck</title>
</head>
<body>
	<form action="/ducks" method="post">
		Name: <input type="text" name="name">
		Color: <input type="text" name="color">
		<input type="submit" name="submit">
	</form>
	<br>
	<a href="/">Cancel</a>
</body>
</html>